body {
    margin: 0;
    padding: 0;
    background: rgb(230, 230, 230);
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    margin-left: 40px;
}